<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/cache 
	http://www.springframework.org/schema/cache/spring-cache.xsd">

	<!-- 第三部分:相关的Action和其他Bean的配置信息 -->

	<bean id="userinfoDAO" class="cn.itcast.storemanage.dao.impl.UserinfoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 配置storeDAO信息 -->
	<bean id="storeDAO" class="cn.itcast.storemanage.dao.impl.StoreDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 配置goodsDAO信息 -->
	<bean id="goodsDAO" class="cn.itcast.storemanage.dao.impl.GoodsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 配置historyDAO信息 -->
	<bean id="historyDAO" class="cn.itcast.storemanage.dao.impl.HistoryDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


</beans>
